body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.uppercase {
  text-transform: uppercase;
}

.poster-img {
  width: 50%;
}

.poster-ft-img {
  width: 60%;
}

@media screen and (min-width: 928px) {
  .poster-ft-img {
    width: 20%;
  }
  .poster-img {
    width: 35%;
  }
}

a,
button:focus,
a:focus,
select:focus,
input:focus {
  outline: 0;
}

.logo {
  width: 177px;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.action-txt {
  display: flex;
  flex-direction: column;
  font-size: 7vw;
  letter-spacing: 4px;
  line-height: 0.95;
}

.smaller-txt {
  font-size: 3vw;
  max-width: 1200px;
  letter-spacing: 0;
  line-height: 0.95;
}

.coloured-text {
  color: cyan;
}

.white-text {
  color: white;
  font-size: 7vw;
}

.ft-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60;
  max-width: 100%;
}

.footer-container {
  background-image: url("./assets/img/Pic_end_2.png");
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

.footer-container svg {
  width: 177px;
}

@media screen and (max-width: 450px) {
  .logo {
    margin-left: 0;
  }
  .action-txt .white-text,
  .action-txt {
    font-size: 32px;
  }
  .smaller-txt {
    font-size: 22px;
  }
}
